body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-15 {
  width : 15%;
}

.h-5 {
  height : 5%;
}

div.input:hover > label {
  opacity: 1 !important;
}

.bold {
  font-weight : bold;
}

.opacity-50 {
  opacity: .5;
}

.mr-2 {
  margin-right: .5rem;
}

.pr-2 {
  padding-right: .5rem;
}

.pl-2 {
  padding-left: .5rem;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
